<div class="modal fade" id="recoveryModal" tabindex="-1" role="dialog" aria-labelledby="recoveryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recoveryModalLabel">Recuperar contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div *ngIf="loading" class="modal-body d-flex justify-content-center">
                <app-loading></app-loading>
            </div>
            <div *ngIf="!loading && mailSend" class="modal-body text-center successful">
                <fa-icon [icon]="faCheck"></fa-icon> <br>
                <p>Se ha envido un correo a su dirección email</p> <br>
                <button class="btn btn-a" (click)="resendMail()">Aceptar</button>
            </div>
            <div *ngIf="!loading && !mailSend" class="modal-body">
                <form class="form-as" [formGroup]="recoveryForm">
                    <div class="form-group">
                        <input type="email" placeholder="Correo" class="form-control" formControlName="email" [ngClass]="{'form-error': recoveryForm.controls['email'].touched && (recoveryForm.controls['email'].errors?.required || recoveryForm.controls['email'].errors?.pattern )}">
                        <span class="error-message" *ngIf="recoveryForm.controls['email'].touched && recoveryForm.controls['email'].errors?.required">
                            Correo es requerido
                        </span>
                        <span class="error-message" *ngIf="recoveryForm.controls['email'].touched && recoveryForm.controls['email'].errors?.pattern">
                            Formato no válido
                        </span>
                    </div>
                </form>
                <br>
                <div class="text-center mb-3">
                    <button class="btn btn-a" (click)="recoveryPassword()">
                        Recuperar contraseña
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>