<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Cambiar contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <span class="error-message text-center" *ngIf="error">
               <fa-icon [icon]="faBomb"></fa-icon> Ops! Ocurrió un error. Vuelve a intentarlo
            </span>
            <div *ngIf="loading" class="modal-body d-flex justify-content-center">
                <app-loading></app-loading>
            </div>
            <div *ngIf="!error && !loading && passwordChange" class="modal-body text-center successful">
                <fa-icon [icon]="faCheck"></fa-icon> <br>
                <p>Su contraseña se cambio con éxito!</p> <br>
                <button class="btn btn-a" (click)="back()">Aceptar</button>
            </div>
            <div *ngIf="!loading && !passwordChange" class="modal-body">
                <form class="form-as" [formGroup]="form">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{'form-error': form.controls['password'].touched && form.controls['password'].errors?.required}">
                        <span class="error-message" *ngIf="form.controls['password'].touched && form.controls['password'].errors?.required">
                            Contraseña es requerida
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Nuevo Password" formControlName="newPassword" [ngClass]="{'form-error': form.controls['newPassword'].touched && form.controls['newPassword'].errors?.required}">
                        <span class="error-message" *ngIf="form.controls['newPassword'].touched && form.controls['newPassword'].errors?.required">
                            Contraseña es requerida
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirmar Nuevo Password" formControlName="confirmPassword" [ngClass]="{'form-error': form.controls['confirmPassword'].touched && (form.controls['confirmPassword'].errors?.required || form.controls['confirmPassword'].errors?.mustMatch )}">
                        <span class="error-message" *ngIf="form.controls['confirmPassword'].touched && form.controls['confirmPassword'].errors?.required">
                            Confirma la contraseña 
                        </span>
                        <span class="error-message" *ngIf="form.controls['confirmPassword'].touched && form.controls['confirmPassword'].errors?.mustMatch">
                            Las contraseñas no coinciden
                        </span>
                    </div>
                </form>
                <br>
                <div class="text-center mb-3">
                    <button class="btn btn-a" (click)="changePassword()">
                        Cambiar Password
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>