<div class="carousel-item-c">
    <div class="card-box-b card-shadow news-box">
        <div class="img-box-b">
            <img [src]="property.images[0]" alt="" class="img-b img-fluid">
        </div>
        <div class="card-overlay">
            <div class="card-header-b">
                <div class="card-category-b">
                    <a [routerLink]="['/propiedad', property.id]" class="category-b">{{ property.typeProperty }}</a>
                </div>
                <div class="card-title-b">
                    <h2 class="title-2">
                        <a [routerLink]="['/propiedad', property.id]">{{ property.title }}
                            <br> {{ property.city }}</a>
                    </h2>
                </div>
                <div class="card-date">
                    <span class="date-b">{{ property.price | currency:'MXN':'symbol-narrow' }}</span>
                </div>
            </div>
        </div>
    </div>
</div>