<div class="carousel-item-c">
    <div class="card-box-b card-shadow news-box">
        <div class="img-box-b">
            <img src="../../../assets/img/post-2.jpg" alt="" class="img-b img-fluid">
        </div>
        <div class="card-overlay">
            <div class="card-header-b">
                <div class="card-category-b">
                    <a href="#" class="category-b">Departamento</a>
                </div>
                <div class="card-title-b">
                    <h2 class="title-2">
                        <a [routerLink]="['/propiedad']">Amueblado para
                            <br> vacacionar</a>
                    </h2>
                </div>
                <div class="card-date">
                    <span class="date-b">$189 MXN/día</span>
                </div>
            </div>
        </div>
    </div>
</div>