<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single"> {{ path === 'crear-propiedad' ? 'Crear Propiedad': 'Editar Propiedad'}}</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <button class="btn btn-a"> Publicar propiedad </button>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row" style="align-items: center; justify-content: center;">
            <div class="container-slide">
                <div class="slider">
                    <div *ngFor="let img of images;" class="img-container" [ngStyle]="{'background-image':
                    'url(' +
                    img +
                    ')'}">

                    </div>
                </div>
            </div>
            <button class="btn m-3 add-picture-btn" (click)="uploadPhoto()">
                <fa-icon [icon]="faCamera"></fa-icon>
                <p>Añadir Foto</p>
            </button>
        </div>
    </div>
</section>