<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single"> {{ path === 'crear-propiedad' ? 'Crear Propiedad': 'Editar Propiedad'}}</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <button class="btn btn-a"> Publicar propiedad </button>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <h3 class="title pb-3">Paso 1 <small>Añade fotos de la propiedad</small></h3>
        </div>
        <div class="row" style="align-items: center; justify-content: center;">
            <div class="container-slide">
                <div class="slider">
                    <div *ngFor="let img of images;" class="img-container" [ngStyle]="{'background-image':
                    'url(' +
                    img +
                    ')'}">

                    </div>
                </div>
            </div>
            <button class="btn m-3 add-picture-btn" (click)="uploadPhoto()">
                <fa-icon [icon]="faCamera"></fa-icon>
                <p>Añadir Foto</p>
            </button>
        </div>
        <div class="pt-3">
            <div>

                <h3 class="title pb-3">Paso 2 <small>Ubica la propiedad en el mapa</small></h3>
                <input style="width: 100%;" [(ngModel)]="address" class="input-search" #search (keydown.enter)="$event.preventDefault()" type="text" placeholder="Introduce tu dirección...">
                <agm-map [latitude]="coords.latitude" [longitude]="coords.longitude" [zoom]="zoom">
                    <agm-marker [latitude]="coords.latitude" [longitude]="coords.longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
            </div>
        </div>
        <div class="pt-5">
            <div>

                <h3 class="title pb-3">Paso 3 <small>Detalla información de la propiedad</small></h3>
                <form [formGroup]="form" class="form-as">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Colonia" class="form-control" formControlName="suburb" [ngClass]="{'form-error': form.controls['suburb'].touched && (form.controls['suburb'].errors?.required || form.controls['suburb'].errors?.pattern )}">
                            <span class="error-message" *ngIf="form.controls['suburb'].touched && form.controls['suburb'].errors?.required">
                                Colonia es requerido
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Colonia" class="form-control" formControlName="suburb" [ngClass]="{'form-error': form.controls['suburb'].touched && (form.controls['suburb'].errors?.required || form.controls['suburb'].errors?.pattern )}">
                            <span class="error-message" *ngIf="form.controls['suburb'].touched && form.controls['suburb'].errors?.required">
                                Colonia es requerido
                            </span>
                        </div>
                    </div>
                    <h3 class="title pb-3">Paso 4 <small>Confirma la localización</small></h3>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Ciudad" class="form-control" formControlName="suburb" [ngClass]="{'form-error': form.controls['suburb'].touched && (form.controls['suburb'].errors?.required || form.controls['suburb'].errors?.pattern )}">
                            <span class="error-message" *ngIf="form.controls['suburb'].touched && form.controls['suburb'].errors?.required">
                                Colonia es requerido
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Estado" class="form-control" formControlName="suburb" [ngClass]="{'form-error': form.controls['suburb'].touched && (form.controls['suburb'].errors?.required || form.controls['suburb'].errors?.pattern )}">
                            <span class="error-message" *ngIf="form.controls['suburb'].touched && form.controls['suburb'].errors?.required">
                                Colonia es requerido
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Código postal" class="form-control" formControlName="suburb" [ngClass]="{'form-error': form.controls['suburb'].touched && (form.controls['suburb'].errors?.required || form.controls['suburb'].errors?.pattern )}">
                            <span class="error-message" *ngIf="form.controls['suburb'].touched && form.controls['suburb'].errors?.required">
                                Colonia es requerido
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="País" class="form-control" formControlName="suburb" [ngClass]="{'form-error': form.controls['suburb'].touched && (form.controls['suburb'].errors?.required || form.controls['suburb'].errors?.pattern )}">
                            <span class="error-message" *ngIf="form.controls['suburb'].touched && form.controls['suburb'].errors?.required">
                                Colonia es requerido
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>