<body>
    <div class="click-closed"></div>
    <!--/ Form Search Star /-->
    <div id="searcher" class="box-collapse">
        <div class="title-box-d">
            <h3 class="title-d">Buscar Propiedad</h3>
        </div>
        <span class="close-box-collapse right-boxed ion-ios-close"></span>
        <div class="box-collapse-wrap form">
            <form class="form-as">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="form-group">
                            <label for="Type">Palabra clave</label>
                            <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="Type">Tipo</label>
                            <select class="form-control form-control-lg form-control-a" id="Type">
              <option>Todos</option>
              <option>For Rent</option>
              <option>For Sale</option>
              <option>Open House</option>
            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="city">Ciudad</label>
                            <select class="form-control form-control-lg form-control-a" id="city">
              <option>Todas</option>
              <option>Alabama</option>
              <option>Arizona</option>
              <option>California</option>
              <option>Colorado</option>
            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="bedrooms">Cuartos</label>
                            <select class="form-control form-control-lg form-control-a" id="bedrooms">
              <option>Sin filtro</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
            </select>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="garages"></label>
                            <select class="form-control form-control-lg form-control-a" id="garages">
              <option>Any</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
            </select> 
                        </div>
                    </div>-->
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="bathrooms">Baños</label>
                            <select class="form-control form-control-lg form-control-a" id="bathrooms">
              <option>sin filtro</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="price">Precio máximo</label>
                            <select class="form-control form-control-lg form-control-a" id="price">
              <option>sin limite</option>
              <option>$10,000</option>
              <option>$25,000</option>
              <option>$50,000</option>
              <option>$100,000</option>
              <option>$150,000</option>
              <option>$200,000</option>
              <option>$500,000</option>
              <option>$5,000,000</option>
              <option>+ $5,000,000</option>
            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-b">Buscar Propiedad</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>