<body>
  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div id="searcher" class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Buscar Propiedad</h3>
    </div>
    <span class="close-box-collapse right-boxed"> 
        <fa-icon [icon]="faClose"> </fa-icon> </span>
    <div class="box-collapse-wrap form">
      <form class="form-as" [formGroup]="form" (ngSubmit)="search()">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="keyword">Palabra clave</label>
              <input
              formControlName="keyword"
                type="text"
                class="form-control form-control-lg form-control-a"
                placeholder="Ej: colonia, calle o ciudad"
              />
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="Type">Tipo</label>
              <select
                class="form-control form-control-lg form-control-a"
                formControlName="type"
              >
              <option value="venta">Venta</option>
              <option value="renta">Renta</option>
              <option value="renta-vacaional">Renta Vacacional</option>
              <option value="terrenos">Terrenos</option>
              <option value="traspaso">Traspaso</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="price">Tipo de Inmueble</label>
              <select
                class="form-control form-control-lg form-control-a"
                formControlName="typeProperty"
              >
              <option value="casa">Casa</option>
              <option value="departamento">Departamento</option>
              <option value="local">Local</option>
              <option value="oficina">Oficina</option>
              <option value="otro">Otro</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="city">Estado</label>
              <select
                class="form-control form-control-lg form-control-a"
                formControlName="state"
                type="number"
                (ngModelChange)="getByState()"
              >
                <option [value]="null">Todos</option>
                <option *ngFor="let state of states" [value]="state.id"> {{state.name}} </option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="city">Ciudad</label>
              <select
                class="form-control form-control-lg form-control-a"
                formControlName="city"
              >
                <option [value]="''">Todas</option>
                <option *ngFor="let city of cities" [value]="city.name">{{ city.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bedrooms">Cuartos</label>
              <select
                class="form-control form-control-lg form-control-a"
                formControlName="rooms"
              >
                <option [value]="null">Sin filtro</option>
                <option [value]="1">1</option>
                <option [value]="2">2</option>
                <option [value]="3">3</option>
              </select>
            </div>
          </div>
          <!-- <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="garages"></label>
                            <select class="form-control form-control-lg form-control-a" id="garages">
              <option>Any</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
            </select> 
                        </div>
                    </div>-->
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bathrooms">Baños</label>
              <select
                class="form-control form-control-lg form-control-a"
                formControlName="baths"
              >
                <option [value]="null">sin filtro</option>
                <option [value]="1">1</option>
                <option [value]="2">2</option>
                <option [value]="3">3</option>
              </select>
            </div>
          </div>

          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Buscar Propiedad</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
