.modal-content {
    border-radius: 0px;
    border: 1px solid rgb(46 181 98);
}

.modal-footer {
    border-top: none;
    justify-content: center;
}

hr {
    width: 25%;
    border: #6e716f solid 1px;
}

.btn {
    transition: .5s ease;
}

.btn.btn-fb {
    background: #3b5998;
    color: white;
    border-radius: 0;
    padding: 0.25rem 3rem;
    letter-spacing: 0.05rem;
    border: none;
}

.btn.btn-fb:hover {
    background: #2e4474;
}

.btn.btn-a {
    border-radius: 0;
    padding: 0.25rem 3rem;
    letter-spacing: .05rem;
}

.btn.btn-a {
    background-color: #000000;
    color: #ffffff;
}

.btn.btn-a:hover {
    background-color: #2eca6a;
    color: #000000;
}

.form-as #sendmessage {
    color: #2eca6a;
    border: 1px solid #26a356;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.form-as #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.form-as #sendmessage.show,
.form-as #errormessage.show,
.form-as .show {
    display: block;
}

.form-as .validation {
    color: red;
    display: none;
    margin: 4px 0 20px 0;
    font-weight: 400;
    font-size: 13px;
}

.form-as label {
    color: #000000;
    position: relative;
}

.form-as select.form-control-lg:not([size]):not([multiple]) {
    height: 3.5rem;
}

.form-as .form-control {
    border-radius: 0;
    font-size: 1.1rem;
    font-weight: 300;
}

.form-as .form-control.form-control-a {
    height: 3.5rem;
}

.form-as .form-control:focus {
    box-shadow: none;
    border-color: #2eca6a;
}

.php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.form-control {
    border-radius: 0;
    font-size: 1.1rem;
    font-weight: 300;
}

.form-control.form-control-a {
    height: 3.5rem;
}

.form-control:focus {
    box-shadow: none;
    border-color: #2eca6a;
}

.error-message {
    color: #ed3c0d;
    padding: 0.5rem;
    font-weight: 600;
}

.form-as .form-error {
    box-shadow: none;
    border-color: #ca4d2e;
}