<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Inmuebles</h1>
          <span class="color-text-a">propiedades disponibles</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav
          aria-label="breadcrumb"
          class="breadcrumb-box d-flex justify-content-lg-end"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/crear-propiedad']">Subir mi propiedad</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<!-- ! FIN DEL TITULO  -->

<!-- ======= Property Grid ======= -->
<section class="property-grid grid">
  <div class="container" *ngIf="!loading">
    <div class="row pb-4">
      <div class="col-sm-12 d-flex align-items-center justify-content-between mb-5">
        <div class="searcher-title">
          Resultados de propiedades
          <span *ngIf="keyword"> con el termino '{{ keyword }}'</span>
          <span *ngIf="city"> en {{ city }}</span>
          <span *ngIf="city && state">,</span>
          <span *ngIf="!city && state">en </span>
          <span *ngIf="state">{{ state }}</span>
        </div> <br>
        <a *ngIf="keyword || city || state"  [routerLink]="['/inmuebles']"
        >Limpiar filtros</a
      >
      </div>

      <div class="col-md-4 pb-3" *ngFor="let item of filterProperties">
        <app-card-property [property]="item"></app-card-property>
      </div>
    </div>
    <div *ngIf="!filterProperties.length" class="message">
      <fa-icon [icon]="faExclamation"></fa-icon><br />
      <h4>No se encontraron Propiedades</h4>
      <br />
    </div>
    <!--<div class="row my-4">
            <div class="col-sm-12">
                <nav class="pagination-a">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">
                                <span class="ion-ios-arrow-back"></span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item next">
                            <a class="page-link" href="#">
                                <span class="ion-ios-arrow-forward"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> -->
  </div>
  <div class="container" *ngIf="loading">
    <app-loading></app-loading>
  </div>
</section>
