/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
a {
    color: #000000;
    transition: all .5s ease;
    cursor: pointer;
}

a:hover {
    color: #2eca6a;
    text-decoration: none;
}

.pagination-a .pagination .page-link {
    margin: 0 .2rem;
    border-color: transparent;
    padding: .5rem .8rem;
    color: #000000;
}

.pagination-a .pagination .page-link:hover,
.pagination-a .pagination .page-link:active,
.pagination-a .pagination .page-link:focus {
    background-color: #2eca6a;
}

.pagination-a .pagination .page-link span {
    font-size: 1.2rem;
}

.pagination-a .pagination .next .page-link {
    padding: .4rem .9rem;
}

.pagination-a .pagination .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination-a .pagination .page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination-a .pagination .page-item.disabled .page-link {
    padding: .4rem .9rem;
    color: #555555;
}

.pagination-a .pagination .page-item.active .page-link {
    background-color: #2eca6a;
}

.a {
    color: #2eca6a;
    font-size: 1.3rem;
}