.form-as #sendmessage {
    color: #2eca6a;
    border: 1px solid #26a356;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.form-as #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.form-as #sendmessage.show,
.form-as #errormessage.show,
.form-as .show {
    display: block;
}

.form-as .validation {
    color: red;
    display: none;
    margin: 4px 0 20px 0;
    font-weight: 400;
    font-size: 13px;
}

.form-as label {
    color: #000000;
    position: relative;
}

.form-as select.form-control-lg:not([size]):not([multiple]) {
    height: 3.5rem;
}

.form-as .form-control {
    border-radius: 0;
    font-size: 1.1rem;
    font-weight: 300;
}

.form-as .form-control.form-control-a {
    height: 3.5rem;
}

.form-as .form-control:focus {
    box-shadow: none;
    border-color: #2eca6a;
}

.form-as .form-error {
    box-shadow: none;
    border-color: #ca4d2e;
}

.php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.error-message {
    color: #ed3c0d;
    padding: 0.5rem;
    font-weight: 600;
}

.btn {
    transition: .5s ease;
}

.btn.btn-a {
    border-radius: 0;
    padding: 0.25rem 3rem;
    letter-spacing: .05rem;
}

.btn.btn-a {
    background-color: #000000;
    color: #ffffff;
}

.btn.btn-a:hover {
    background-color: #2eca6a;
    color: #000000;
}